<div class="wrapper" *ngIf ="dataSource">
    <h1>Bioskopi</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 
            <i class="fa-solid fa-building"></i>  Bioskop </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>
            <i class="fa-solid fa-map-location-dot"></i>  Lokacija 
          </th>
          <td mat-cell *matCellDef="let element">
            <i class="fa-solid fa-location-arrow"></i>
             <a [href]="element.mapUrl" target="_blank">{{ element.location }}</a> 
            
          </td>
        </ng-container>
          
      
        
        <ng-container matColumnDef="workTime">
          <th mat-header-cell *matHeaderCellDef class="hide-600">
            <i class="fa-solid fa-clock"></i> Radno vreme </th>
          <td mat-cell *matCellDef="let element" class="hide-600"> {{ element.workTime}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>
            <i class="fa-solid fa-phone"></i> Telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
        </ng-container>

     
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>
  