<div class="wrapper">
    <h1>O aplikaciji</h1>
    <p>Ova aplikacija je prototip veb aplikacije za kupovinu karata za bioskop</p>
    <p>Aplikacija je razvijena za kurs Klijentske veb aplikacije na Univerzitetu Singidunum</p>
    <p>Izvorni kod je dostupan na <a href="https://github.com/jovana722/klijentske-veb-aplikacije-git">GitHub-u</a></p>
    <p>Korišćene biblioteke:</p>
    <ul>
        <li>Angular 19</li>
        <li>Angular Material</li>
        <li>Axios HTTP Client</li>
    </ul>
</div>
