<body class="login-page">
  <mat-card class="auth-card">
    <mat-card-header>
      <h1>DOBRODOŠLI NA TIXIFY</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="input-container">
        <input class="inputclass" type="email" matInput [(ngModel)]="email" required />
        <label>Email</label>
      </div>
      <div class="input-container">
        <input class="inputclass" id="password" type="password" matInput [(ngModel)]="password" required />
        <label>Lozinka</label>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-button (click)="doLogin()" class="btn">Prijavi se</button>
      <a mat-button routerLink="/signup" class="btn">Kreiraj nalog</a>
    </mat-card-actions>
  </mat-card>
</body>