html,
body {
    height: 100%;
    background-color:#242728;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.bg-dark {
    background-color: #1e2124;
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.example-card {
 width: 300px;
 margin-bottom: 35px ;
 margin-right: 15px; 
}

.loading {
    width: 700px;
    height: 300px;
    text-align: center;
    align-items: center;
}

.auth-card {
    margin-top: 30px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    margin-top: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

.cyan {
    color: #00dddd
}

.link-name {
    padding-left: 3px;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 780px) {
    .hide-780 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .hide-600 {
        display: none;
    }
}