img {
    width: 300px;  
    height: auto;  
}

input {
    width: 50%; 
    padding: 15px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    text-align: center;
    outline: none;
  }
  
  input::placeholder {
    color: #bbb;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .description {
    text-align: justify;
  }