<div *ngIf="error" class="container">
    <mat-card class="loading" appearance="outlined">
       
        <mat-card-content>
            <h1>Oops, an error occured!</h1>
            <p style="color: red;">{{error}}</p>
        </mat-card-content>
    </mat-card>
</div>

<div class="search-container">
  <input type="text" (input)="onSearchChanged($event)" placeholder="Search movies...">
</div>



<div *ngIf="movies" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies">
      <img mat-card-image [src]="movie.poster" [alt]="movie.title">
      <mat-card-content>
        <h1>{{ movie.title }}</h1>
        
        <p>{{ movie.shortDescription }}</p>
        <p>Release Date: {{ utils.formatDate(movie.startDate)}}</p>


        
        
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/details/', movie.movieId]">
          <i class="fa-solid fa-arrow-up-right-from-square"></i> Details
      </a>
      <a mat-button >
          <i class="fa-solid fa-cart-shopping"></i> Book Now
      </a>
      </mat-card-actions>
    </mat-card>
  </div>


<app-loading *ngIf="!movies && !error"/>