<div class="wrapper" *ngIf="movie">
  <div class="movie-content">
    <div class="movie-image">
      <img [src]="movie.poster" [alt]="movie.title" />
    </div>

    <mat-card class="movie-card" appearance="outlined">
      <mat-card-content class="movie-card-content">
        <h2>Detalji o filmu - {{ movie.title }}</h2>
        <p>{{ movie.description }}</p>
        <mat-list role="list">
          <mat-list-item>
            <span matListItemTitle>Početak prikazivanja:</span>
            <span matListItemLine>{{ utils.formatDate(movie.startDate) }}</span>
            <span matListItemIcon>
              <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i>
            </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Trajanje:</span>
            <span matListItemLine>{{ movie.runTime }} min</span>
            <span matListItemIcon>
              <i class="fa-solid fa-clock"></i>
            </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Režiser:</span>
            <span matListItemLine>{{ movie.director.name }}</span>
            <span matListItemIcon>
              <i class="fa-solid fa-user-tie"></i>
            </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Glumci:</span>
            <span matListItemLine *ngFor="let actor of movie.movieActors">
              {{ actor.actor.name }}
            </span>
            <span matListItemIcon>
              <i class="fa-solid fa-user"></i>
            </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Žanr:</span>
            <span matListItemLine *ngFor="let genre of movie.movieGenres">
              {{ genre.genre.name }}
            </span>
            <span matListItemIcon>
              <i class="fa-solid fa-masks-theater" style="color: #ffffff;"></i>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/details/' + movie.movieId + '/order']">
          <i class="fa-solid fa-cart-shopping"></i> Rezerviši
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-loading *ngIf="!movie" />
