<div class="wrapper" *ngIf="movie">
<h1>{{movie.title}}</h1>
<div class="movie-content">
    <img [src]="movie.poster" [alt]="movie.title">
    <mat-card class="movie-card" appearance="outlined">
        <mat-card-content class="movie-card-content">
            <h2>Movie Details</h2>
            <p>{{movie.description}}</p>
            <mat-list role="list">
              
                <mat-list-item>
                    <span matListItemTitle>Release Date: </span>
                    <span matListItemLine>{{utils.formatDate(movie.startDate)}}</span>
                    <span matListItemIcon>
                      <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i>
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Run Time:</span>
                    <span matListItemLine>{{movie.runTime}} min</span>
                    <span matListItemIcon>
                      <i class="fa-solid fa-clock"></i>
                    </span>
                </mat-list-item>
                <mat-list-item>
                  <span matListItemTitle>Director:</span>
                  <span matListItemLine>{{movie.director.name}} </span>
                  <span matListItemIcon>
                    <i class="fa-solid fa-user-tie"></i>
                  </span>
              </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Actors:</span>
                    <span matListItemLine *ngFor="let actor of movie.movieActors">
                      {{ actor.actor.name }}
                    </span>
                    <span matListItemIcon>
                        <i class="fa-solid fa-user"></i>
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Genres:</span>
                    <span matListItemLine *ngFor="let genre of movie.movieGenres">
                      {{ genre.genre.name }}
                    </span>
                    <span matListItemIcon>
                      <i class="fa-solid fa-masks-theater" style="color: #ffffff;"></i>
                    </span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/details/'+movie.movieId+'/order']">
                <i class="fa-solid fa-cart-shopping"></i> Book Now
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<app-loading *ngIf="!movie" />